.idea
.project
.settings/
.classpath
*.iml
target
.DS_Store
*/*.pid
*.log
*.log.*
*.log.lck
postchain.pid
examples/out
_build
_doc
logs
node_modules

build
.flattened-pom.xml
.chromia*
.env
.gitlab
.pycache
.venv
.vscode
.env
*.pyc
*.sqlite
*database